@model CoursesIndexViewModel

@inject UserManager<UserEntity> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div class="container">
    <section id="saved-courses">
        <aside>
            <div class="profile-info">
                <div class=" profile-info-img">

                    <img src="~/images/uploads/profiles/@user.ProfileImageUrl" alt="@user.FirstName @user.LastName" />
                    <form enctype="multipart/form-data" method="post" asp-action="UploadProfilImage" asp-controller="Account">
                        <input id="fileUploader" type="file" name="file" hidden />
                        <label for="fileUploader" class="btn btn-circle btn-circle-sm">
                            <i class="fa-light fa-refresh"></i>
                        </label>
                    </form>

                </div>

                <h5>@user.FirstName @user.LastName</h5>
                <p>@user.Email</p>
            </div>

            <nav>
                <a class="tn-transparent" asp-controller="Account" asp-action="Details"><i class="fa-light fa-gear"></i>Account Details</a>
                <a class="btn-transparent" asp-controller="Account" asp-action="Security"><i class="fa-sharp fa-regular fa-lock"></i>Security</a>
                <a class="btn-theme-s" asp-controller="Courses" asp-action="SavedCourses"><i class="fa-light fa-bookmark"></i>Saved Courses</a>
                <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-light fa-arrow-right-from-bracket"></i>Sign Out</a>


            </nav>
        </aside>

        <span class="information">

            @if (ViewData["Status"]?.ToString() == "ConnectionFailed")
            {
                <span class="alert alert-danger">
                    Unable to contact the server. Please try again later.
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "Unauthorized")
            {
                <span class="alert alert-danger">
                    An error occurred. Please contact web admin.
                </span>
            }
        </span>

        @if (Model.Courses != null)
        {
            <div class="grid">

                @foreach (var item in Model.Courses)
                {
                    <a asp-action="Details" asp-controller="Courses" asp-route-id="@item.Id">

                        <div class="course-card">
                            <div class="course-card_img">
                                <img class="img-card" src="~/images/courses/@item.ImageName" alt="Course card">
                                @if (item.IsBestseller)
                                {
                                    <div class="bestseller">
                                        <p>Bestseller</p>
                                    </div>
                                }
                                <form asp-controller="Account" asp-action="SavedCourses" method="post">
                                    <input type="hidden" name="courseId" value="@item.Id" />
                                    <button type="submit" class="bookmark">
                                        <img class="bookmark" src="~/images/courses/bookmark.svg" alt="bookmark">
                                    </button>
                                </form>
                            </div>
                            <div class="course-card_body">
                                <h2 class="h5">@item.Title</h2>
                                <p class="text-s">@item.Author</p>
                                <div class="price">

                                    @if (item.DiscountPrice <= 0)
                                    {
                                        <p class="original-price">$@item.Price</p>
                                    }

                                    @if (item.DiscountPrice > 0)
                                    {

                                        <p class="original-price"></p>
                                        <p class="discounted-price">$@item.DiscountPrice</p>
                                        <p class="discounted-price-line-through">$@item.Price</p>
                                    }
                                </div>

                            </div>
                            <div class="line"></div>
                            <div class="course-card__footer">
                                <div>
                                    <i class="fa-regular fa-clock"></i>
                                    <p>@item.Hours hours</p>
                                </div>
                                <div>
                                    <i class="fa-regular fa-thumbs-up"></i>
                                    <p>
                                        @($"{item.LikesInProcent * 100:0}%")
                                        @($"{item.LikesInNumbers / 1000:N1}K")
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>

                }

            </div>
        }
    </section>
</div>


@* @model CoursesIndexViewModel

@inject UserManager<UserEntity> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}}


<div class="container">
    <section id="saved-courses">
        <aside>
            <div class="profile-info">
                <div class=" profile-info-img">

                    <img src="~/images/uploads/profiles/@user.ProfileImageUrl" alt="@user.FirstName @user.LastName" />
                    <form enctype="multipart/form-data" method="post" asp-action="UploadProfilImage" asp-controller="Account">
                        <input id="fileUploader" type="file" name="file" hidden />
                        <label for="fileUploader" class="btn btn-circle btn-circle-sm">
                            <i class="fa-light fa-refresh"></i>
                        </label>
                    </form>

                </div>

                <h5>@user.FirstName @user.LastName</h5>
                <p>@user.Email</p>
            </div>

            <nav>
                <a class="tn-transparent" asp-controller="Account" asp-action="Details"><i class="fa-light fa-gear"></i>Account Details</a>
                <a class="btn-transparent" asp-controller="Account" asp-action="Security"><i class="fa-sharp fa-regular fa-lock"></i>Security</a>
                <a class="btn-theme-s" asp-controller="Courses" asp-action="SavedCourses"><i class="fa-light fa-bookmark"></i>Saved Courses</a>
                <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-light fa-arrow-right-from-bracket"></i>Sign Out</a>


            </nav>
        </aside>

         @if (Model.Courses != null)
        {
            <div class="grid saved-items">

                @foreach (var item in Model.Courses)
                {
                    <a asp-action="Details" asp-controller="Courses" asp-route-id="@item.Id">
  
                        <div class="course-card">
                            <div class="course-card_img">
                                <img class="img-card" src="~/images/courses/@item.ImageName" alt="Course card">
                                @if (item.IsBestseller)
                                {
                                    <div class="bestseller">
                                        <p>Bestseller</p>
                                    </div>
                                }
                                <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
                            </div>
                            <div class="course-card_body">
                                <h2 class="h5">@item.Title</h2>
                                <p class="text-s">@item.Author</p>
                                <div class="price">
                            
                                    @if (item.DiscountPrice <= 0)
                                    {
                                        <p class="original-price">$@item.Price</p>
                                    }
                           
                                    @if (item.DiscountPrice > 0)
                                    {
 
                                        <p class="original-price"></p>
                                        <p class="discounted-price">$@item.DiscountPrice</p>
                                        <p class="discounted-price-line-through">$@item.Price</p>
                                    }
                                </div>

                            </div>
                            <div class="line"></div>
                            <div class="course-card__footer">
                                <div>
                                    <i class="fa-regular fa-clock"></i>
                                    <p>@item.Hours hours</p>
                                </div>
                                <div>
                                    <i class="fa-regular fa-thumbs-up"></i>
                                    <p>
                                        @($"{item.LikesInProcent * 100:0}%")
                                        @($"{item.LikesInNumbers / 1000:N1}K")
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>

                }

            </div>
        }
    </section>
</div>
 *@