@model CoursesIndexViewModel
@{
    ViewData["Title"] = "Courses";
}

<section class="courses">
    <div class="container">
        <div class="home-course">
            <a class="home-and-course">
                <i class="fa-light fa-house"></i>
                <p class="home">Home</p>
            </a>

            <i class="fa-light fa-angles-right"></i>
            <p class="courses">Courses</p>
        </div>
        <div class="bord">
            <div class="header">
                <h1 class="my5">Courses</h1>
            </div>

            <div class="dropdown-links">
                <div class="dropdown">
                    <button class="dropbtn">All categories <i class="fa-regular fa-arrow-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>

                <div class="search">
                    <input type="text" placeholder="Search for courses">
                    <button class="btn-search"><i class="fa-regular fa-search"></i></button>
                </div>
            </div>

        </div>

        <span class="information">

            @if (ViewData["Status"]?.ToString() == "ConnectionFaild")
            {
                <span class="alert alert-danger">
                    Unable to contact the server. Please try again later.
                </span>
            }
        </span>

        <div class="grid">

            @foreach (var item in Model.Courses)
            {
                <div class="course-card">
                    <div class="course-card_img">
                        <img class="img-card" src="~/images/courses/@item.ImageName" alt="Course card">
                        @if (item.IsBestseller)
                        {
                            <div class="bestseller">
                                <p>Bestseller</p>
                            </div>
                        }
                        <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
                    </div>
                    <div class="course-card_body">
                        <h2 class="h5">@item.Title</h2>
                        <p class="text-s">@item.Author</p>
                        <div class="price">
                            
                            @if (item.DiscountPrice <= 0)
                            {
                                <p class="original-price">$@item.Price</p>
                            }
                           
                            @if (item.DiscountPrice > 0)
                            {
 
                                <p class="original-price"></p>
                                <p class="discounted-price">$@item.DiscountPrice</p>
                                <p class="discounted-price-line-through">$@item.Price</p>
                            }
                        </div>

                    </div>
                    <div class="line"></div>
                    <div class="course-card__footer">
                        <div>
                            <i class="fa-regular fa-clock"></i>
                            <p>@item.Hours hours</p>
                        </div>
                        <div>
                            <i class="fa-regular fa-thumbs-up"></i>
                            <p>
                                @($"{item.LikesInProcent * 100:0}%")
                                @($"{item.LikesInNumbers / 1000:N1}K")
                            </p>
                        </div>
                    </div>
                </div>

            }

        </div>

        <div class="pagination">
            <a class="btn-transparent" href="#"><i class="fa-light fa-chevron-left"></i></i></a>
            <a class="btn-transparent" href="#">1</a>
            <a class="btn-gray" href="#">2</a>
            <a class="btn-theme" href="#">3</a>
            <a class="btn-transparent" href="#">4</a>
            <a class="btn-transparent" href="#"><i class="fa-light fa-chevron-right"></i></a>
        </div>

        <div class="banner">
            <div class="banner-text">
                <p class="text-l">Ready to get started?</p>
                <div>
                    <div class="skills-text"><h2 class="h2">Take Your </h2><h2 class="h2 blue"> Skills </h2> <h2 class="h2">to the</h2></div><div><h2 class="h2"> Next Level</h2></div>
                </div>
                <a class="btn-theme" href="#">Work with us</a>
            </div>
            <div class="banner-img">
                <img src="images/courses/Banner.svg" alt="banner">
            </div>
        </div>

    </div>
</section>

@* <div class="course-card">
    <div class="course-card_img">
        <img class="img-card" src="images/courses/course_1.png" alt="Course card">
        <div class="bestseller">
            <p>Bestseller</p>
        </div>
        <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
    </div>
    <div class="course-card_body">
        <h2 class="h5">Fullstack Web Developer Course from Scratch</h2>
        <p class="text-s">By Robert Fox</p>
        <div class="price">
            <p class="original-price">$12.50</p>
            <p class="discounted-price"></p>
            <p class="discounted-price-line-through"></p>
        </div>
    </div>
    <div class="line"></div>
    <div class="course-card__footer">
        <div>
            <i class="fa-regular fa-clock"></i>
            <p>220 hours</p>
        </div>
        <div>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>94% (4.2)</p>
        </div>
    </div>
</div>

<div class="course-card">
    <div class="course-card_img">
        <img class="img-card" src="images/courses/course_2.png" alt="Course card">
        <!-- <div class="bestseller">
            <p>Bestseller</p>
        </div> -->
        <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
    </div>
    <div class="course-card_body">
        <h2 class="h5">HTML, CSS, JavaScript Web <br> Developer</h2>
        <p class="text-s">By Jenny Wilson & Marvin McKinney</p>
        <div class="price">
            <p class="original-price">$15.99</p>
            <p class="discounted-price"></p>
            <p class="discounted-price-line-through"></p>
        </div>
    </div>
    <div class="line"></div>
    <div class="course-card__footer">
        <div>
            <i class="fa-regular fa-clock"></i>
            <p>160 hours</p>
        </div>
        <div>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>92% (3.1)</p>
        </div>
    </div>
</div>

<div class="course-card">
    <div class="course-card_img">
        <img class="img-card" src="images/courses/course_3.png" alt="Course card">
        <!-- <div class="bestseller">
            <p>Bestseller</p>
        </div> -->
        <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
    </div>
    <div class="course-card_body">
        <h2 class="h5">The Complete Front-End Web Development Course</h2>
        <p class="text-s">By Albert Flores</p>
        <div class="price">
            <p class="original-price"></p>
            <p class="discounted-price">$9.99</p>
            <p class="discounted-price-line-through">$44.99</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="course-card__footer">
        <div>
            <i class="fa-regular fa-clock"></i>
            <p>100 hours hours</p>
        </div>
        <div>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>98% (2.7)</p>
        </div>
    </div>
</div>

<div class="course-card">
    <div class="course-card_img">
        <img class="img-card" src="images/courses/course_4.png" alt="Course card">
        <!-- <div class="bestseller">
            <p>Bestseller</p>
        </div> -->
        <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
    </div>
    <div class="course-card_body">
        <h2 class="h5">iOS & Swift - The Complete iOS App Development Course </h2>
        <p class="text-s">By Robert Fox</p>
        <div class="price">
            <p class="original-price">$12.50</p>
            <p class="discounted-price"></p>
            <p class="discounted-price-line-through"></p>
        </div>
    </div>
    <div class="line"></div>
    <div class="course-card__footer">
        <div>
            <i class="fa-regular fa-clock"></i>
            <p>220 hours</p>
        </div>
        <div>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>94% (4.2)</p>
        </div>
    </div>
</div>

<div class="course-card">
    <div class="course-card_img">
        <img class="img-card" src="images/courses/course_5.png" alt="Course card">
        <div class="bestseller">
            <p>Bestseller</p>
        </div>
        <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
    </div>
    <div class="course-card_body">
        <h2 class="h5">Data Science & Machine Learning with Python</h2>
        <p class="text-s">By Robert Fox</p>
        <div class="price">
            <p class="original-price">$12.50</p>
            <p class="discounted-price"></p>
            <p class="discounted-price-line-through"></p>
        </div>
    </div>
    <div class="line"></div>
    <div class="course-card__footer">
        <div>
            <i class="fa-regular fa-clock"></i>
            <p>220 hours</p>
        </div>
        <div>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>94% (4.2)</p>
        </div>
    </div>
</div>

<div class="course-card">
    <div class="course-card_img">
        <img class="img-card" src="images/courses/course_6.png" alt="Course card">
        <!-- <div class="bestseller">
            <p>Bestseller</p>
        </div> -->
        <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
    </div>
    <div class="course-card_body">
        <h2 class="h5">Creative CSS Drawing Course: Make Art With CSS</h2>
        <p class="text-s">By Robert Fox</p>
        <div class="price">
            <p class="original-price">$12.50</p>
            <p class="discounted-price"></p>
            <p class="discounted-price-line-through"></p>
        </div>
    </div>
    <div class="line"></div>
    <div class="course-card__footer">
        <div>
            <i class="fa-regular fa-clock"></i>
            <p>220 hours</p>
        </div>
        <div>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>94% (4.2)</p>
        </div>
    </div>
</div>

<div class="course-card">
    <div class="course-card_img">
        <img class="img-card" src="images/courses/course_7.png" alt="Course card">
        <!-- <div class="bestseller">
            <p>Bestseller</p>
        </div> -->
        <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
    </div>
    <div class="course-card_body">
        <h2 class="h5">Blender Character Creator v2.0 for Video Games Design</h2>
        <p class="text-s">By Robert Fox</p>
        <div class="price">
            <p class="original-price">$12.50</p>
            <p class="discounted-price"></p>
            <p class="discounted-price-line-through"></p>
        </div>
    </div>
    <div class="line"></div>
    <div class="course-card__footer">
        <div>
            <i class="fa-regular fa-clock"></i>
            <p>220 hours</p>
        </div>
        <div>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>94% (4.2)</p>
        </div>
    </div>
</div>

<div class="course-card">
    <div class="course-card_img">
        <img class="img-card" src="images/courses/course_8.png" alt="Course card">
        <!-- <div class="bestseller">
            <p>Bestseller</p>
        </div> -->
        <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
    </div>
    <div class="course-card_body">
        <h2 class="h5">The Ultimate Guide to 2D Mobile Game Development with Unity</h2>
        <p class="text-s">By Robert Fox</p>
        <div class="price">
            <p class="original-price"></p>
            <p class="discounted-price">$12.99</p>
            <p class="discounted-price-line-through">$44.99</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="course-card__footer">
        <div>
            <i class="fa-regular fa-clock"></i>
            <p>220 hours</p>
        </div>
        <div>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>94% (4.2)</p>
        </div>
    </div>
</div>

<div class="course-card">
    <div class="course-card_img">
        <img class="img-card" src="images/courses/course_9.png" alt="Course card">
        <!-- <div class="bestseller">
            <p>Bestseller</p>
        </div> -->
        <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
    </div>
    <div class="course-card_body">
        <h2 class="h5">Learn JMETER from Scratch on Live Apps-Performance Testing</h2>
        <p class="text-s">By Robert Fox</p>
        <div class="price">
            <p class="original-price">$12.50</p>
            <p class="discounted-price"></p>
            <p class="discounted-price-line-through"></p>
        </div>
    </div>
    <div class="line"></div>
    <div class="course-card__footer">
        <div>
            <i class="fa-regular fa-clock"></i>
            <p>220 hours</p>
        </div>
        <div>
            <i class="fa-regular fa-thumbs-up"></i>
            <p>94% (4.2)</p>
        </div>
    </div>
</div> *@